{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1>{% if form.instance.pk %}
        Update Outgoing {{ form.instance.pk }}
        {% else %}
        Create Outgoing
        {% endif %}
    </h1>
    <hr>
    <form class="col-lg-4 mx-auto"
        method="post"
        enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-end">
            <button type="submit"
                class="btn btn-dark">Save</button>
        </div>
    </form>
</div>
<script>
    $("#id_user").select2();
</script>
{% endblock %}