{% extends 'base.html' %}

{% block content %}
<div class="px-5">
    <div class="bg-secondary bg-opacity-10 py-3 px-4 shadow rounded-4">
        <h3>{{ incoming.subject }}</h3>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Received:</strong> {{ incoming.received }}</p>
                <p><strong>Dated:</strong> {{ incoming.dated }}</p>
                <p><strong>From:</strong> {{ incoming.rfrom }}</p>
                <p><strong>To:</strong> {{ incoming.to }}</p>
                <p><strong>CC:</strong> {{ incoming.cc }}</p>
                <p><strong>Action:</strong> {{ incoming.action|title }}</p>
            </div>
            <div class="col-md-6">
                <p><strong>Forward:</strong> {{ incoming.forward }}</p>
                <p><strong>Created By:</strong> {{ incoming.created_by }}
                </p>
                <p><strong>Notes:</strong> {{ incoming.notes }}</p>

            </div>
        </div>

        <hr>
        {% if incoming.file %}
        <p><strong>File:</strong> <a target="_new"
                href="{{ incoming.file.url }}">{{ incoming.file.name }}</a>
        </p>
        {% endif %}

        <div class="text-end me-4 mb-4">
            <a class="btn btn-dark me-3"
                href="{% url 'incoming-update' incoming.pk %}">Edit</a>
            <a class="btn btn-outline-dark"
                href="">Delete</a>
        </div>

        <p class="small text-muted text-end"
            title="created">{{ incoming.created_at }}
        </p>
    </div>
</div>
{% endblock %}