{% extends "base.html" %}

{% load humanize %} 


{% block content %}

<form class="col-lg-4 mx-auto"
    method="get">
    <input class="form-control rounded-4"
        type="text"
        name="q"
        placeholder="Search incoming..."
        value="{{ request.GET.q }}">
    <br>
    <div class="text-end">
        <button class="btn btn-dark px-5 rounded-4"
            type="submit">Search</button>
    </div>
</form>
<a class="btn btn-dark"
    href="{% url 'incoming-create' %}">Add new</a>
<div class="fw-bold fs-5 float-end">
    {{data_count|intcomma}}
</div>
<hr>
<div class="table responseive">
    <table class="table table-sm table-hover small">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Subject</th>
                <th scope="col">From</th>
                <th scope="col">Received</th>
                <th scope="col">Dated</th>
                <th scope="col">Created</th>
            </tr>
        </thead>
        <tbody>
            {% for incoming in object_list %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td><a class="text-dark" href="{{incoming.get_absolute_url}}">
                        {{ incoming.subject|upper|truncatechars:70 }}</a></td>
                <td>{{ incoming.rfrom|upper }}</td>
                <td>{{ incoming.received|default_if_none:'-' }}</td>
                <td>{{ incoming.dated|default_if_none:'-' }}</td>
                <td>{{ incoming.date|default_if_none:'-' }}</td>
            </tr>
            {% empty %}
            <li>No incoming correspondences found.</li>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if page_obj %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}


{% endblock content %}